<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>ASP Core Empty App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="/vue-related/build/bundle.js"></script>
</head>
<body>
    <div id="app">
        <p>{{message}}</p>
    </div>
    <script type="text/javascript">
        new Vue({
            el:'#app',
            data:{
                message:'Hello from Vue!'
            }
        });
    </script>
</body>
</html>